/* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#container {
	min-width: 600px;
}

#left_col {
	float: left;
	width: 200px;
}

#right_col {
	float: right;
	width: 200px;
}

#page_content {
	margin-right: 200px;
	margin-left: 200px;
}

#container {

	background-image: url('images/fourth.jpeg');
	background-repeat: no-repeat;
	width: 1024px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "Monotype Corsiva";
	font-size: large;
	color: #32cd32;
	background-color: #000000;

}
